<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicines</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='checkMedicine.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <!-- Sidebar -->
      <div class="sidebar">
        <div class="profile">
          <img
            src="https://png.pngtree.com/png-vector/20190223/ourlarge/pngtree-admin-rolls-glyph-black-icon-png-image_691507.jpg"
            alt="Profile Picture"
          />
          <p>Username: <strong>Admin</strong></p>
          <p>Admin ID: <strong>201</strong></p>
        </div>
        <nav class="nav">
          <ul>
            <li>
              <a
                href="{{ url_for('views.admin', user_id=current_user.user_id) }}"
                >Dashboard</a
              >
            </li>
            <li><a href="{{ url_for('views.check_doc') }}">Doctors</a></li>
            <li><a href="{{ url_for('views.check_patient') }}">Patients</a></li>
            <li><a href="{{ url_for('views.payment') }}">Payments</a></li>
            <li><a href="{{ url_for('views.medicine') }}">Medicines</a></li>
          </ul>
        </nav>
        <div class="footer-image">
          <img src="../static/logo_hospital.png" alt="Footer Image" />
        </div>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <header class="header">
          <div class="date-time">
            <p>{{ today.strftime('%d/%m/%Y %I:%M:%S %p') }}</p>
          </div>
          <div class="logout">
            <a class="logout-button" href="/logout">Logout</a>
            <span>Welcome, <strong>Admin</strong></span>
            <div class="status-dot"></div>
            <span>Active</span>
          </div>
        </header>

        <!-- Medicines Table -->
        <div class="medicines-section">
          <h3>Medicines List</h3>
          <div class="medicines-table-inside">
            <table>
              <thead>
                <tr>
                  <th>Medicine ID</th>
                  <th>Medicine Name</th>
                  <th>Number Left</th>
                  <th>Cost per Unit</th>
                </tr>
              </thead>
              <tbody>
                {% for medicine in medicines %}
                <tr>
                  <td>{{ medicine['medicine_id'] }}</td>
                  <td>{{ medicine['medicine_name'] }}</td>
                  <td>{{ medicine['number_left'] }}</td>
                  <td>{{ medicine['cost_per'] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
